

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
    

    {{ include('categorie_back/_form.html.twig') }}

    <a href="{{ path('app_categorieBack_index') }}">back to list</a>
    </div></div></div></div>
{% endblock %}
